[submodule "third_party/quickjs-ng"]
	path = third_party/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "third_party/test262"]
	path = third_party/test262
	url = https://github.com/tc39/test262.git
